<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>収支の登録</h1>
      <%= link_to '1行追加', add_balances_path, remote: true, :class => 'btn btn-default' %>
      <br>
      <%= form_tag bulk_create_balances_path do %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>収/支</th>
              <th>金額</th>
              <th>日付</th>
              <th>使途</th>
              <th>分類</th>
              <th>備考</th>
              <th>削除</th>
            </tr>
          </thead>
          <tbody id="balances_input_form">
            <%= render 'form' %>
          </tbody>
        </table>
        <%= submit_tag '収支の登録' , :method => 'post', :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>