// Place all the styles related to the balances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.j-top {
  background-color: #000000 !important;
  color: white !important;
}

.j-income {
  background-color: #F0F8FF !important;
}

.j-payment {
  background-color: #FFE4E1 !important;
}

.j-total {
  background-color: #FFF8DC !important;
  color: white;
}