// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-background-img {
  #background-image: image-url("back.jpg");
  background-size: cover;
  background-color: black;
  color: white;
}
